#show_sketch{
    float : right;
    margin-right: 50px;
}
h1{
    background-color: white;
    color: aqua;
}
body{
    background-color: aqua;
}
#score{
    font-size:25px;
    margin-left: 50px;
}
#timer{
    font-size: 25px;
    float: right;
    margin-right: 100px;
}
#label{
    font-size:20px;
}
#confidence{
    font-size: 20px;
}
#Sketch_name{
    font-size:20px;
    color: red;
}